.authenticated-content {
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.content-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    width: 350px;
    margin-right: 20px;
}

.user-keys-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.user-keys-display {
    font-family: monospace;
    max-height: 250px;
    overflow: auto;
    flex-grow: 1;
}

.scrollable-key-list {
    overflow-y: auto;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

.key-summary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.key-details {
    padding: 10px;
    background-color: #f9f9f9;
}

.greeting-message {
    color: #3a3a3a;
    font-weight: 600;
    font-size: 30px;
}

.model-selection {
    margin-top: 20px;
    margin-bottom: 20px;
}

.select-model-message {
    font-size: 16px;
    font-weight: 700;
    color: #3a3a3a;
    display: inline-block;
    padding-bottom: 10px;
}

.model-selection label {
    display: block;
    margin-bottom: 5px;
}

.generate-button {
    background-color: #fff4f0;
    color: #e55f4c;
    padding: 10px 15px;
    border: 1px solid #e55f4c;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.generate-button:hover {
    background-color: #e55f4c;
    color: #fff4f0;
    border: 1px solid #ccc;
}

.token-display {
    background-color: #F6F8FA;
    padding: 0px 5px 0px 15px;
    border-radius: 4px;
    border: 2px solid #D0D9E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;
}

.copy-button {
    background-color: transparent;
    padding: 5px 2px 2px 4px;
    color: #3a3a3a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #ccc;
}

.copied-message {
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}
